header.sign {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/background3.jpg");
}

header.buy{
    background-image: url("../../assets/background4.jpg");
}

header.rent{
    background-image: url("../../assets/background.jpg");
}

header.profile{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/profile.jpg");
}

header.favourites{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/background2.jpg");
}

// .imga{
//     background-image: url("../../assets/background4.jpg");
// }

// .imgb{
//     background-image: url("../../assets/background2.jpg");
// }

// .imgc{
//     background-image: url("../../assets/background3.jpg");
// }